.is-yellow {
  background: var(--yellow, #fce757);
}

.is-bluedark {
  color: var(--dark-blue, #005564);
}

.is-opacity {
  display: block;
}

.is-opacity-two {
  display: block;
}

.is-pink {
  background: var(--red, #cf9697);
}

.is-blue {
  background: var(--light-blue, #c0d9d9);
}
